{% extends 'layout/base.html' %}

{% block content%}
    <h1 class="text-center text-success mt-1">THÔNG TIN GIỎ HÀNG</h1>

{% if 'cart' in session %}
<table class="table">
    <tr>
        <th>Id</th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Số lượng</th>
        <th>Hủy</th>
    </tr>

    {% for c in session["cart"].values() %}
    <tr id="cart{{ c.id }}">
        <td> {{ c.id }}</td>
        <td> {{ c.name }}</td>
        <td> {{ "{:,.0f}".format(c.price)}} VNĐ</td>
        <td><input onblur="UpdateCart({{ c.id }}, this)" class="form-control" type="number" value="{{ c.quantity }}"></td>
        <td >
            <button onclick="deleteCart({{ c.id }})" class="btn btn-danger">&times;</button>
        </td>
    </tr>
    {% endfor %}

</table>

<div class="alert alert-info">
    <h3>Tổng sản phẩm: <span class="cart-quantity">{{ cart_stats.Total_quantity }}</span></h3>
    <h3>Tổng tiền: <span class="cart-amount"> {{ "{:,.0f}".format(cart_stats.Total_price)}} </span> VNĐ</h3>
</div>

{% if current_user.is_authenticated %}

<div>
    <button onclick="pay()" class="btn btn-success">Thanh toán</button>
</div>

{% else %}

<p>Vui lòng <a href="/login?next=/cart">đăng nhập</a>  để thanh toán!</p>

{% endif %}

{% else %}
    <div class="alert alert-info">Không có sản phẩm nào!</div>
{% endif %}
{% endblock %}